/* app.component.css */
*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  /*Criando variáveis*/
  // Cores primarias
  --azul-marinho: #003366;
  --vermelho-academico: #990000;
  --cinza: #7F8C8D;
  --branco: #fff;
  --verde-academico: #228B22;

  // Botoes
    --azul-mais-forte: #004c99; /* Primário (ações principais) */
    --cinza-claro: #cccccc; /* Secundário (ações secundárias): */
    --verde-claro: #2ecc71; /* Sucesso (confirmações, êxitos) */
    --vermelho-claro: #e74c3c; /* Erro (alertas, erros): */
    --amarelo: #f1c40f; /* Aviso (notificações, avisos) */
  
  // Cores de Fundo
    --cinza-muito-claro: #f2f2f2; /* Fundo principal:  */
    --cinza-alternativo: #e6e6e6; /* Fundo alternativo:  */
  
  // Cores para Texto
    --azul-escuro: #2c3e50 ; /* Título principal: */
    --azul-esverdiado-escuro: #34495e; /* Texto padrão: */
    --cinza: #7f8c8d; /* Texto secundário: */
    --cinza-metalico: #bdc3c7; /* Borda de input padrão:  */
    --azul-celeste: #3498db; /* Input focado:  */
    --cinza-azulado: #95a5a6; /* Placeholder */

  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

body{
  display: flex;
  height: 100vh; /* view height */
  width: 100vw; /* view width */
  background: var(--background);
}


.dashboard-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  height: 100vh;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item {
  margin-bottom: 10px;
  padding: 0 10px;
}

.menu-button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background: none;
  text-align: left;
  color: white;
  transition: background-color 0.3s;
  outline: none;
}

.btn-blue { background-color: #007bff; }
.btn-orange { background-color: #fd7e14; }
.btn-green { background-color: #28a745; }
.btn-red { background-color: #dc3545; }
/* Efeitos de hover */
.btn-blue:hover, .btn-orange:hover, .btn-green:hover, .btn-red:hover {
  filter: brightness(85%);
}

.submenu {
  display: none;
  padding-left: 20px;
}

.submenu-item {
  display: block;
  margin: 5px 0;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.submenu-item:hover {
  background-color: #e9ecef;
  text-decoration: none;
  transform: translateX(5px);
}

.collapsed {
  display: block;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
}

.dashboard-title {
  margin-bottom: 20px;
  font-size: 2.5em; /* Tamanho maior para o título */
  color: #007bff; /* Cor que combina com o tema */
  text-align: center; /* Centraliza o texto do título */
  font-weight: bold; /* Torna o texto do título em negrito */
  margin-top: 20px;
  width: 100%;
}