<div class="form-container">
  <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <label for="nome" class="form-label">Nome do Curso:</label>
      <input type="text" id="nome" formControlName="nome" class="form-control" required>
    </div>

    <div formArrayName="disciplinas">
      <div id="disciplina" class="" *ngFor="let disciplina of disciplinas.controls; let i=index" [formGroupName]="i">
        <div class="">
          <input type="text" id="nome" formControlName="nome" class="" placeholder="Nome da Disciplina" >

          <select formControlName="professorId" class="form-select">
            <option [ngValue]="null">Selecione</option>
            <option *ngFor="let professor of professores" [ngValue]="professor.Id">
              {{ professor.Nome }}
            </option>
          </select>
        </div>

        <button type="button" (click)="removerDisciplina(i)">Remover Disciplina</button>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" (click)="adicionarDisciplina()" class="btn btn-secondary">Adicionar Disciplina</button>
      <button type="submit" class="btn btn-primary">Criar Curso</button>
    </div>
  </form>
</div>